<IfModule mod_rewrite.c>
    RewriteEngine On

    # Remove trailing slashes
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # If the request is for an existing file or directory, let it through
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Redirect all other requests to index.php for further processing
    RewriteRule ^ index.php [L]
</IfModule>
